
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar style="border:none;">
      <ion-title style="color: #1E2059;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" class="menu" [routerLink]="['/accueil']">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-buttons>
      <div class="en-Tete">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      <ion-buttons slot="end" class="menu" [routerLink]="['/recherche']">
        <ion-icon name="searh"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <div style="margin-top: 30px;">
      <div class="container" style="overflow-x: auto;width: 100%;">

          <table class="table table-sm table-bordered" style="width: 1000px;">
            <tr style="background-color:#006BB7;height: 30px;">
              <td>Joueur</td>
              <td>Joueur</td>
              <td>Equipe</td>
              <td>M</td>
              <td>MJ</td>
              <td>PM</td>
              <td>RPM</td>
              <td>M</td>
              <td>PM</td>
              <td>RPM</td>
              <td>M</td>
            </tr>
            <tr>
              <td class="t"><img class="tr-image" src="../../assets/img/logo.png" alt=""></td>
              <td class="tr">Joueur</td>
              <td class="tr">Equipe</td>
              <td class="tr">M</td>
              <td class="tr">MJ</td>
              <td class="tr">PM</td>
              <td class="tr">RPM</td>
              <td class="tr">M</td>
            </tr>
            <tr>
              <td class="tr">Joueur</td>
              <td class="tr">Equipe</td>
              <td class="tr">M</td>
              <td class="tr">MJ</td>
              <td class="tr">PM</td>
              <td class="tr">RPM</td>
              <td class="tr">M</td>
            </tr>
          </table>

      </div>
  </div>
</ion-content>
 
  
 


</div>




