
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar style="border:none;">
      <ion-title style="color: #1E2059;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card *ngIf="utilisateurExisteDansLocalStorage()">
      <ion-card-content *ngIf="utilisateurEstAdmin()">
        <p>Admin connecté.</p>
        <ion-button expand="full" (click)="deconnecter()">Se déconnecter</ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-button (click)="add()">...</ion-button>
  
    <ion-button  [routerLink]="['/login']" *ngIf="!utilisateurEstAdmin()">Se connecter</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" class="menu">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="en-Tete">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      <ion-buttons slot="end" class="menu" [routerLink]="['/recherche']">
        <ion-icon name="search"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="titre" *ngIf="utilisateurEstAdmin()">
    <p id="m-titre">Connecte en tant qu'admin</p>
    <p id="s-titre">Gerer les annonces , modifie .....</p>
  </div>
  <div class="choix" *ngIf="utilisateurEstAdmin()" style="color: black;margin-top: 200px;">
    <ul>

      <li><a href="">Termine</a></li>
      <li><a href="">Pubs rejete</a></li>
    </ul>
  </div>
  <div class="titre" *ngIf="!utilisateurEstAdmin()">
    <p id="m-titre">Savoir les statistiques de vos matchs</p>
    <p id="s-titre">Trouvez rapidement les statistiques de vos équipes preferées</p>
  </div>
  <div style="margin-top: 100px;"*ngIf="!utilisateurEstAdmin()">
   
    <!-- <p style="color: black;font-size: larger;font-weight: 600;">s</p> -->
    <div class="sponsor">
        <ng-container *ngFor="let equipe of equipe">
          <div class="annonce" (click)="vers_detail(50)">
            <!-- ... -->
            <div class="card-img" style="background-image: url('../../assets/img/logo.png');">
            </div>
            <div class="card-info">
              <p id="card-titre">{{equipe.nom_equipe}}</p>
            </div>
            <!-- ... -->
          </div>
        </ng-container>
    </div>
    
    <br>
    <!-- <div class="footer">
      Nba ITU Express - 2023 - Tous droits réservés
    </div> -->
  </div>
  
 


</div>




